*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.card-btn button{
	transition: 0.3s ease ;
}
.card-btn button:hover{
	background-color: #032830!important;
}
@media screen and (max-width:747px) {
	.serviceRow .card{
		margin-bottom: 6rem;
	}
}